# Server Configuration
PORT=5000

# MongoDB Replica Set Connection (For Docker)
MONGO_URI=mongodb://127.0.0.1:27017/saas_booking?directConnection=true

# Authentication (BetterAuth)
BETTER_AUTH_SECRET=your_super_secret_key_here
BETTER_AUTH_URL=http://localhost:5000

# Client Application
FRONTEND_URL=http://localhost:3000