
BETTER_AUTH_SECRET=your_better_auth_secret_here
BETTER_AUTH_URL=http://localhost:5000


MONGO_URI=mongodb://127.0.0.1:27017/saas_booking?directConnection=true


STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_PUBLISHING_KEY=pk_test_your_stripe_publishable_key
STRIPE_WEBHOOK_SECRET=whsec_your_stripe_webhook_secret

# Stripe Price IDs
STRIPE_PRO_PRICE_ID=price_your_pro_price_id
STRIPE_ENTERPRISE_PRICE_ID=price_your_enterprise_price_id

FRONTEND_URL=http://localhost:3000